@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hero_bg {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.486),
      rgba(0, 0, 0, 0.759)
    ),
    url("https://cdn.wallpapersafari.com/83/53/FCluPK.jpg");
  background-size: cover;
}
