@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.root-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside ul li a.active {
  background: #052e16;
}

@media screen and (max-width: 800px) {
  .root-grid {
    grid-template-columns: 1fr;
  }
}
